@charset "utf-8";

@font-face {
    font-family: "Pacifico-Regular";
    src: url('../font/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "UnidreamLED";
    src: url('../font/UnidreamLED.ttf') format('truetype');
}

/*全局样式*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    font-family: 'HarmonyOS_Regular', sans-serif;
}

*,
a {
    text-decoration: none;
    transition: 0.3s;
    color: #efefef;
    user-select: none;
    cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='white' /></svg>") 4 4, auto !important;
}


a:hover {
    color: white;
}

.cards {
    transition: 0.5s;
}

.cards:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.cards:active {
    transform: scale(0.95);
    transition: 0.5s;
}

.noscript {
    z-index: 999999;
    font-size: 0.95rem;
    text-align: center;
    margin: 14px 0px;
}

/*鼠标样式*/
#g-pointer-1 {
    display: none;
}

#g-pointer-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    transition: 0.05s linear;
    pointer-events: none;
    background: #ffffff40;
    border-radius: 50%;
    z-index: 9999999;
}

/*背景*/
.bg-all {
    z-index: -1;
    position: absolute;
    top: calc(0px + 0px);
    left: 0;
    width: 100%;
    height: calc(100% - 0px);
    transition: .25s;
}

#bg {
    transform: scale(1.10);
    filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s, transform .25s, filter .25s;
    backface-visibility: hidden;
}

.cover {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, .3) 166%);
    transition: .25s;
}

/*页面样式*/
section {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 600px;
    transform: scale(1.10);
    transition: ease 1.25s;
    opacity: 0;
    filter: blur(10px);
}

main {
    width: 100%;
    height: 100%;
    /*background: rgb(0 0 0 / 20%);*/
    display: flex;
    /*align-items: center;*/
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row {
    align-items: center;
    justify-content: center;
    width: 100%;
    --bs-gutter-x: 0 !important;
}

.col.\32{
    margin: 0 1.5rem;
}

.main-left {
    /*transform: translateY(240px);*/
    transform: translateY(40px);
}

.row.rightone {
    display: flex;
    align-items: center;
}

/*头像*/
.main-img {
    display: flex;
    align-items: center;
}

.main-img img {
    border-radius: 50%;
    width: 120px;
}

.main-img img:hover {
    transform: rotate(360deg);
}

.img-title {
    width: 100%;
    margin-left: 12px;
    transform: translateY(-8%);
}

.img-title-big {
    font-size: 4.8rem;
    font-family: 'Pacifico-Regular' !important;
}

span.img-text {
    font-size: 2rem;
    font-family: 'Pacifico-Regular' !important;
}

/*简介*/
.message {
    background: rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    /*margin: 0.5rem;*/
    padding: 1rem;
    border-radius: 6px;
    margin-top: 3.5rem;
    max-width: 460px;
    cursor: pointer;
}

.des {
    display: flex;
    justify-content: space-between;
}

.des-title {
    margin: 1rem 1rem;
    line-height: 2rem;
    margin-right: auto;
}

.fa-solid.fa-quote-right {
    align-self: flex-end;
}

.col.cards-big {
    margin-right: 0.75rem;
}

.hitokoto {
    width: 100%;
    background: rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 6px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*时间卡片*/
.col.times {
    margin-left: 0.75rem;
}

.time {
    width: 100%;
    background: rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 165px;
    font-size: 1.10rem;
}

/*分割线*/
.line {
    margin: 1rem 0.25rem;
    margin-top: 2rem;
    font-size: 1.10rem;
    display: flex;
    align-items: center;
}

span.line-text {
    font-size: 1.2rem;
    margin: 0px 6px;
}

/*链接卡片*/
.link-card {
    height: 100px;
    width: 100%;
    border-radius: 6px;
    background: rgb(0 0 0 / 25%);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.link-card:hover {
    background: rgb(0 0 0 / 40%);
    transition: 0.5s;
}

span.link-name {
    font-size: 10.8px;
    white-space: pre-line;
}

.link-card:hover span.link-name {
    font-size: 9px;
    transition: 0.1s;
}
/*滚动条样式*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eeeeee;
}
